<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Alpha Blog Home Page</title>
  </head>
  <body>
    <h1>Welcome to Alpha Blog</h1>
    <%= link_to 'About', about_path %>

  </body>
</html>
